beautifulsoup4==4.9.1
Flask==1.1.2
gensim==3.8.3
geocoder==1.38.1
geographiclib==1.50
geoip2==4.0.2
geopy==2.0.0
google==3.0.0
googletrans==3.0.0
h5py==2.10.0
imutils==0.5.3
ip2geotools==0.1.5
IP2Location==8.4.1
Keras==2.4.3
lxml==4.5.2
nltk==3.4.5
numpy==1.18.5
pandas==1.1.1
Pillow==7.2.0
opencv-python==4.4.0.42
opencv-contrib-python==4.4.0.44
oauthlib==3.1.0
rsa==4.6
pymongo==3.11.0
python-crfsuite==0.9.6
requests==2.24.0
sklearn==0.0
scikit-learn==0.20.3
SpeechRecognition==3.8.1
sympy==1.6.2
tensorboard==2.3.0
xmltodict==0.12.0
wikipedia==1.4.0
underthesea==1.1.17
pyttsx3==2.90
matplotlib==3.3.1
urllib3==1.25.10
wolframalpha==4.0.0
google-search==1.0.2
pyvi==0.1